<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <title>Register</title>
</head>

<body>
    <div class="section no-pad-bot" id="index-banner form">
        <div class="container row">
            <h1 class=" header align-left orange-text">REGISTER-FORM</h1>
        </div>
    </div>

    <div class="row container">
        <form class="col s12" method="POST" action="/form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="input-field col s6">
                    {{ form.firstName(id='first_name ',class='validate') }}
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    {{ form.lastName(id="last_name", class='validate') }}
                    <label for="last_name">Last Name</label>
                </div>

            </div>
            <div class="row">
            <div class="input-field col s12">
                {{ form.describe(id="Describe", class='validate', **{"data-length": "200"}) }}
                <label for="Describe">Describe the event</label>
            </div>
        </div>
            <div class="row">
                <div class="input-field col s12">
                    <!-- <input id="email" type="email" class="validate"> -->
                    {{ form.email(id="email", class='validate') }}
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Invalid" data-success="Valid">Enter a valid Email.</span>
                </div>
            </div>

            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        {{form.file()}}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload an identity card.">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                   {{ form.Regtype() }}
                    <label>Registration Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <!-- <input value="1" id="ticket_count" type="text" class="validate"> -->
                    {{ form.tickets(id="ticket_count", class='validate', value='1') }}
                    <label class="active" for="ticket_count">Number of Tickets</label>
                </div>
            </div>
            <div class="row">
                <!-- <input type="submit" class="btn-large center"> -->
                {{form.submit(class='btn-large center')}}
            </div>
        </form>
    </div>





    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/form.js')}}"></script>
    <script>
    $(document).ready(function() {
        $('input#Describe').characterCounter();
      });
    </script>
</body>

</html>